.columns-container {
  display: grid;
  grid-template-columns: repeat(2, 155px);
  column-gap: 15px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.column {
  &:last-child {

    .dropdownOptions {
      margin-left: 9px;
    }
  }

  .dropdownOptions {
    p {
      font-weight: 600;
      margin-bottom: 16px;
    }
  }

  .inputContainer {
    position: relative;

    .errorMessage {
      font-size: 12px;
      white-space: nowrap;
      color: var(--color-red-error);

      position: absolute;
      top: 41px;
      left: 0;
    }
  }

}

.selectedValue:hover {
  background-color: #f9f9f9;
}

.dropdownOptions {
  max-height: 150px;
  overflow-y: auto;
}

.dropdownOption {
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover, &.highlighted {
    background-color: var(--color-light-gray);
  }
}