.columns-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 45%;
}

.selectedValue:hover {
  background-color: #f9f9f9;
}

.dropdownOptions {
  max-height: 150px;
  overflow-y: auto;
}


.dropdownOption {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.dropdownOption:hover {
  background-color: #f1f1f1;
}

.dropdown-option:hover, .highlighted {
  background-color: #f1f1f1;
}

.dropdownInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputButtonContainer {
  display: flex;
  margin-bottom: 10px;
}

.submitContainer {
  padding: 10px;
  text-align: right;
}

.submitButton {
  background-color: var(--color-flame-red);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {

}