.customSelectContainer {
  position: relative;
  width: 100%;

  .selectedValue {
    color: var(--color-rich-black);
    white-space: nowrap;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    gap: 4px;
    align-items: center;

    span {
      width: 14px;
      height: 14px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .mergedDropdownMenu {
    font-size: 14px;
    text-wrap: none;
    position: absolute;
    top: 52px;
    left: 0;
    background-color: white;
    border: 1px solid var(--color-light-gray);
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 24px;

    .title {
      color: var(--color-rich-black);
      font-size: 16px;
      margin-bottom: 24px;
    }

    .dropdownInput {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 24px;
      outline: none;

      &.bedroom-input {
        padding: 12.5px 10px;
        width: 41px;
      }
    }
  }

  .mergedDropdownMenu.regions {
    left: -7px;
  }

  .submitContainer {
    text-align: right;
    .submitButton {
      background-color: var(--color-flame-red);
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
    }
  }
}