.slider-wrapper {
  position: relative;
}

.custom-slider {
  position: relative;
  width: 100%;
  overflow-x: hidden; /* Only hides horizontal overflow */
  overflow-y: visible; /* Ensures vertical overflow is visible */

  &__header {
    font-size: 32px;
    margin-bottom: 52px;
  }
}

.slider-content {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-in-out;
}

.slider-item {
  min-width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 30px;

  svg {
    width: 100%;
  }
}

.prev-button {
  left: -65px;
}

.next-button {
  right: -50px;
}
