.columnsContainer {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 45%;
}

.inputButtonContainer {
  display: flex;
  margin-bottom: 10px;
}

.dropdownInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropdownOptions {
  max-height: 150px;
  overflow-y: auto;
}

.dropdownOption {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownOption:hover {
  background-color: #f1f1f1;
}

.highlighted {
  background-color: #007bff;
  color: white;
}

.submitContainer {
  padding: 10px;
  text-align: right;
}
