.customSelectContainer {
  width: 520px;
  position: relative;
}

.selectedValue {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.mergedDropdownMenu {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 5px;
  z-index: 1;
}

.columnsContainer {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 45%; /* Less width to fit both columns */
}

.inputButtonContainer {
  display: flex;
}

.dropdownInput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.dropdownOptions {
  max-height: 150px;
  overflow-y: auto;
}

.dropdownOption {
  padding: 8px;
  cursor: pointer;
}

.dropdownOption:hover, .highlighted {
  background-color: #f1f1f1;
}

.submitContainer {
  padding: 10px;
  text-align: right;
}

.submitButton {
  padding: 8px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  box-sizing: border-box;
}
