.main-header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 62px 0 61px 0;
}

.add-listing-form {
  width: 790px;
  margin: 0 auto 87px auto;

  .radioGroup-header {
    margin-bottom: 8px;
  }

  .location {
    margin-bottom: 80px;
  }

  .property-details {
    margin-bottom: 20px;
  }

  .agent {
    margin: 80px 0 90px 0;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
}


.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

h4 {
  font-size: 16px;
  font-family: "Helvetica Neue", serif;
  text-transform: uppercase;

  &.heading {
    margin-bottom: 12px;
  }
}
