
.header {
  //display: flex;

  .top-header {
    display: flex;
    justify-content: space-between;

    .dropdowns {
      border: 1px solid var(--color-light-gray);
      display: flex;
      gap: 24px;
      padding: 6px;
      border-radius: 10px;
      margin-bottom: 16px;
    }
  }

  &-buttons {

  }
}

