.property-container {
  position: relative;
  padding-top: 125px;

  .btn-goBack {
    position: absolute;
    top: 64px;
    left: 0;
    background: none;
    border: none;

    svg {
      width: 32px;
    }
  }
}

.real-estate {
  display: grid;
  grid-template-columns: 839px 1fr;
  column-gap: 68px;
  padding-bottom: 14px;
  margin-bottom: 53px;


  &__img-container {
    width: 100%;
    text-align: right;

    img {
      width: 100%;
      height: 670px;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      margin-bottom: 12px;
    }

    .date {
      font-size: 16px;
      color: var(--color-cool-gray);
    }
  }

  &__info {
    padding-top: 30px;

    .price {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 24px;
    }

    .basics {
      color: var(--color-cool-gray);
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 40px;

      svg {
        width: 22px;
      }

      p {
        display: flex;
        gap: 4px;
        align-items: center;

      }
    }

    .description {
      color: var(--color-cool-gray);
      line-height: 26px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 50px;
      height: 80px;
    }

    .agent {
      color: var(--color-cool-gray);
      border: 1px solid var(--color-light-gray);
      padding: 24px 20px;
      border-radius: 8px;
      margin-bottom: 20px;

      &__main-info {
        display: flex;
        gap: 14px;
        align-items: center;
        margin-bottom: 16px;

        img {
          width: 72px;
          border-radius: 50%;
        }

        .name {
          color: var(--color-rich-black);
          margin-bottom: 4px;
        }
      }

      &__other-details {
        .email {
          margin-bottom: 4px;

          svg {
            width: 16px;
            height: 13px;
          }
        }

        .phone {
          svg {
            width: 14px;
          }
        }

        p {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }

    .btn-delete-listing {
      color: var(--color-cool-gray);
      border: 1px solid var(--color-cool-gray);
      border-radius: 8px;
      padding: 10px;
      transition: .3s ease-in-out;

      &:hover {
        color: white;
        background: var(--color-cool-gray);
      }
    }
  }
}